h1 {
    text-align: center;
    line-height: 50px;
    margin-bottom: 0;
}

p {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li::first-letter{
    text-transform: capitalize;
}

a {
    text-decoration: none;
}


.weather-app-wrapper {
    margin: 20px auto;
    max-width: 600px;
}

.weather-app {
    border: 1px solid;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
}

.clearfix {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.weather-icon {
    display: block;
    margin: 0 auto;
    padding: 10px;
}


.date-time {
    text-align: center;
    line-height: 40px;
}

.temp {
    font-size: 50px;
    margin: 0 0 0 30px;
}

.daily-info {
    font-size: 18px;
    margin: 0;
}

.col-3 {
    text-align: center;
}

.credit {
    text-align: center;
}